{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
        {% include 'accueil/header.html.twig' %}
<div>
    {% for user in user %}
        <p>Nom: {{ user.lastname }}</p>
        <p>Prénom: {{ user.firstname }}</p>
        <p>Compte en Banque: {{ user.bank }}</p>
        <p>Métier: {{ user.job }}</p>
    {% endfor %}
</div>
{% endblock %}
