<section class="container-fluid bg-dark text-center text-light">
    <section id="griseFooter" class="container bg-secondary">
        <div class="row">
            <div class="col-md-12 pt-4">
                <p>
                    Copyright © 2020 Lavana Island - Tous droits réservés - Site propulsé par O'Neill
                </p>
                <p>
                    <a class="btn btn-secondary" href="{{ path('mentions') }}">Mentions Légales</a>
                </p>
            </div>
        </div>
    </section>
</section>